html, body, section, .container, .codrops-header {
	height: 100%;
}

section {
	padding: 1em;
	text-align: center;
	position: relative;
	/*margin: 40px;*/
	height: calc(100% - 80px);
	overflow: hidden;
}

section h2 {
	font-weight: 300;
	color: rgba(255,255,255,0.3);
	font-size: 3.5em;
}

section:not(.related)::before,
section:not(.related)::after {
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	background: rgba(255,255,255,0.4);
	left: 25%;
	top: 50%;
}

section:not(.related)::before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

section:not(.related)::after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


/* SVG wrap */
.svg-wrap {
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
}

