{% extends "answers.html" %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {

        var qid = {{qid}};
        drawBarChart();

        $('#group-select').change(function() {
          // Every we select a new group, let's redraw the chart.
          drawBarChart();
        });

         $('#disaggregate-select').change(function() {
          // Every we select a new disaggregation, let's redraw the chart.
          drawBarChart();
        });

      });

    function drawBarChart(){

        var group = $('#group-select').val();
        var disaggregate = $('#disaggregate-select').val();

        var jsonUrl = '{{ config.BASE_PATH }}/json/question/' + {{qid}} + '/group/' + group + '/disaggregate/' + disaggregate;

        var qid = {{qid}};
        var qKey = "q" + qid;

        var titles = [];
        var disaggregatedSeries = [];
        var seriesIndex = 0;
        var disaggregatedSeriesIndex = 0;

        $.get(jsonUrl, function(jsonResult){
            var categories = [];
            var series = [];
            var categoriesInitialized = false;

            var currentDisaggregate = jsonResult['answers'][0]['_id']['disaggregate'];
            titles[disaggregatedSeriesIndex] = currentDisaggregate;

            $.each(jsonResult['answers'], function(j, answer){
                var data = [];

                // Get the value for each answer
                for(var i = 0; i < jsonResult['count']['answers']; i++){
                    // Build the data array
                    var aKey = 'a' + (i + 1);
                    data[i] = answer[aKey];

                    // Build the categories array
                    if(!categoriesInitialized){
                      categories[i] = getAnswer(qKey, aKey);
                    }
                }

                categoriesInitialized = true;

                var seriesItem = {
                    name: answer['_id']['group'], // Get the name of the group
                    data: data
                }

                if(answer['_id']['disaggregate'] != currentDisaggregate){
                  currentDisaggregate = answer['_id']['disaggregate']
                  disaggregatedSeries[disaggregatedSeriesIndex] = series;
                  series = [];
                  seriesIndex = 0;

                  disaggregatedSeriesIndex++;
                  titles[disaggregatedSeriesIndex] = currentDisaggregate;
                }

                series[seriesIndex] = seriesItem;
                seriesIndex++;
            });

            disaggregatedSeries[disaggregatedSeriesIndex] = series;

            renderBarChart('barchart-0', titles[0], categories, disaggregatedSeries[0]);
            renderBarChart('barchart-1', titles[1], categories, disaggregatedSeries[1]);
        });
    }

    function renderBarChart(divId, title, categories, series){          
        $('#' + divId).highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: '',
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                min: 0,
                title: {
                    text: title
                }
            },
            tooltip: {
                 shared: true,
                 headerFormat: '',
                 pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/><br/>',
            },
            legend: {
                reversed: false
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: series
        });
    }
</script>
{% endblock %}

{% block disaggregate %}
<div class="form-group">
  <label class="control-label" for="group-select">Disaggregate&nbsp;by</label>
  <select id="disaggregate-select" class="form-control">
    <option value="employment.level">Employment Level</option>
    <option value="gender" selected>Gender</option>
  </select>
</div>
{% endblock %}

{% block chart %}
<div align="center">
  <table>
    <tr>
      <td>
        <div id="barchart-0" style="min-width: 550px; max-width: 700px; height: {{ chart_height }}; margin: 0 auto"></div>
      </td>
      <td>
        <div id="barchart-1" style="min-width: 550px; max-width: 700px; height: {{ chart_height }}; margin: 0 auto"></div>
      </td>
    </tr>
  </table>
</div>
{% endblock %}
