<html>
<head>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

  <!-- Bootstrap  JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

  <!-- Bootstrap  JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='utils.js') }}"></script>

  <!-- Bootstrap compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />

  <!-- page styling -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <title>
      Gender equality related corruption risks and vulnerabilities in civil service in Kosovo
  </title>
</head>

<body>

  <nav class="navbar navbar-default" role="navigation">
      {% if config.BASE_PATH == '' %}
          <a class="navbar-brand" href="/">Gender equality related corruption risks and vulnerabilities in civil service in Kosovo</a>
      {% else %}
          <a class="navbar-brand" href="{{ config.BASE_PATH }}">Gender equality related corruption risks and vulnerabilities in civil service in Kosovo</a>
      {% endif %}
  </nav>

  <div class="" style="padding-top:10px;">
    <h3 class="page-title">{% block title %}{% endblock %}</h3>
    <hr class="style-eight">
    {% block body %}{% endblock %}
  </div>
</body>
</html>