{% extends "answers.html" %}

{% block script %}
    <script>
      $(document).ready(function() {
        var qid = {{qid}};

        drawSpiderweb();

        $('#group-select').change(function() {
          // Every we select a new group, let's redraw the chart.
          drawSpiderweb();
        });

      });


      /**
       * Draw the spiderweb chart.
       **/
      function drawSpiderweb(){

        group = $('#group-select').val();
        jsonUrl = '{{ config.BASE_PATH }}/json/question/' + {{qid}} + '/group/' + group;
        var qid = {{qid}};
        var qKey = "q" + qid;

        $.get(jsonUrl, function(jsonResult){
            var categories = [];
            var series = [];
            var categoriesInitialized = false;

            // For each group...
            for (var j = 0; j < jsonResult['count']['group']; j++){
                var answer = jsonResult['answers'][j];
                var data = [];

                // Get the value for each answer
                for(var i = 0; i < jsonResult['count']['answers']; i++){
                    // Build the data array
                    var aKey = 'a' + (i + 1);
                    data[i] = answer[aKey];

                    // Build the categories array
                    if(!categoriesInitialized){
                      categories[i] = i + 1;
                    }
                }

                categoriesInitialized = true;

                var seriesItem = {
                    name: answer['_id'], // Get the name of the group
                    data: data,
                    pointPlacement: 'on'
                }

                series[j] = seriesItem;
            }

            $('#spiderweb').highcharts({
              chart: {
                  polar: true,
                  type: 'line'
              },

              title: {
                  text: '',
                  x: -80
              },

              pane: {
                  size: '80%'
              },

              xAxis: {
                  categories: categories,
                  tickmarkPlacement: 'on',
                  lineWidth: 0
              },

              yAxis: {
                  gridLineInterpolation: 'polygon',
                  lineWidth: 0,
                  min: 0
              },

              tooltip: {
                  shared: true,
                  pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
              },

              legend: {
                  align: 'right',
                  verticalAlign: 'top',
                  y: 70,
                  layout: 'vertical'
              },

              series: series
          });
        });
      }
    </script>
{% endblock %}

{% block chart %}
    <div id="spiderweb" style="min-width: 500px; max-width: 700px; height: {{ chart_height }}; margin: 0 auto"></div>
{% endblock %}

